## Initial EDA

load in the data and first look at our target variable

In [2]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

import copy
from Modules import *

sns.set()
%matplotlib inline

import imblearn
import warnings
warnings.filterwarnings('ignore')

from sklearn.tree import DecisionTreeClassifier                          # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split                     # Import train_test_split function from sklearn
from sklearn import metrics                                              #Import scikit-learn metrics module for accuracy calculation

from imblearn.over_sampling import SMOTE

In [ ]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import copy
from Modules import *
sns.set()
%matplotlib inline
import imblearn

In [3]:
#df = pd.read_excel('Full_Datav6_zip_extract.xls', header=None)
#df = pd.read_excel('Full_Datav5.xlsx', header=0)
#df = pd.read_csv('Full_Datav5.csv', header=0)



#y = df['Y']
#y = df.Y

#df.head()

#df = pd.read_excel('Full_Datav4.xls', header=0)
#df = pd.read_excel('Full_Datav6_zip_extract.xls', header=None)
df = pd.read_excel('Full_Datav6_zip_extractt.xls', header=0, skiprows=0, names=['Households SNAP' , 'Estimated Individuals SNAP' , 'SNAP percent Population' , 
                                                                                'SNAP Per Capita Benefit or TAM' , 'Total Citizen Educated in US' , 
                                                                                'Citizen Less than High School Education' , 'Citizen High School  Graduate' , 
                                                                                'Citizen Some College Education' , 'Citizen College Degree'  , 'Citizen Graduate or Professional Degree',
                                                                                'Total Citizen Income' , 'Citizen No Income' , 'Citizen Income 1-9999' , 'Citizen Income 10000-14999' , 
                                                                                'Citizen Income 15000-24999' , 'Citizen Income 25000-34999' , 'Citizen Income 35000-49999' , 
                                                                                'Citizen Income 50000-64999' , 'Citizen Income 65000-74999' , 'Citizen Income 75000 plus'  , 
                                                                                'Total Population' , 'One Race Population' , 'White Race' , 'Black Race' , 'Native American Race' , 
                                                                                'Asian Race' , 'Pacific Islander Race' , 'Other Race Alone' , 'Hispanic or Latino' ,
                                                                                'Median Age', 'Male Median Age' , 'Female Median Age', 'Total Households' , 'Average Household Size' , 
                                                                                'Total Families' , 'state code' , 'zip code'])


#df = pd.read_excel('Full_Datav6_zip_extractt.xls', skiprows=1, names=['1'])
                                                                #      ,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37'])

#df = pd.read_csv('Full_Datav6_zip_extracttf.csv')

#df = pd.read_excel('Full_Datav4.xls', header=None)


#df.columns = df.iloc[0,:]

#df.rename(index=str, columns={"SNAP Per Capita Benefit or TAM": "Y"}, inplace=True)

#df.drop('ID', inplace=True, axis=0)

#y = df["Y"]
#y = df.Y

df.head()

,Households SNAP,Estimated Individuals SNAP,SNAP percent Population,SNAP Per Capita Benefit or TAM,Total Citizen Educated in US,Citizen Less than High School Education,Citizen High School Graduate,Citizen Some College Education,Citizen College Degree,Citizen Graduate or Professional Degree,...,Other Race Alone,Hispanic or Latino,Median Age,Male Median Age,Female Median Age,Total Households,Average Household Size,Total Families,state code,zip code
0,765,1705.95,0.101732,2564042.85,13358,1167,3779,4397,2397,1618,...,229,16209,45.5,43.0,47.7,7215,2.23,3098,25,1001
1,749,1827.56,0.062913,2746822.68,13787,633,1684,2229,3405,5836,...,1217,26766,24.0,23.6,24.8,9910,2.44,4050,25,1002
2,8,25.60,0.002468,38476.80,136,26,13,68,14,15,...,372,9843,20.2,20.2,20.1,5,3.20,10,25,1003
3,147,383.67,0.075540,576656.01,3498,123,1270,1023,547,535,...,71,4990,41.0,40.0,41.7,1904,2.61,1284,25,1005
4,450,1179.00,0.080483,1772037.00,10062,644,2407,2518,2423,2070,...,260,14264,41.1,40.0,42.0,5595,2.62,3691,25,1007

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32936 entries, 0 to 32935
Data columns (total 37 columns):
Households SNAP                            32936 non-null int64
Estimated Individuals SNAP                 32936 non-null float64
SNAP percent Population                    32936 non-null float64
SNAP Per Capita Benefit or TAM             32936 non-null float64
Total Citizen Educated in US               32936 non-null int64
Citizen Less than High School Education    32936 non-null int64
Citizen High School  Graduate              32936 non-null int64
Citizen Some College Education             32936 non-null int64
Citizen College Degree                     32936 non-null int64
Citizen Graduate or Professional Degree    32936 non-null int64
Total Citizen Income                       32936 non-null int64
Citizen No Income                          32936 non-null int64
Citizen Income 1-9999                      32936 non-null int64
Citizen Income 10000-14999                 32936 non-null int64
Citizen Income 15000-24999                 32936 non-null int64
Citizen Income 25000-34999                 32936 non-null int64
Citizen Income 35000-49999                 32936 non-null int64
Citizen Income 50000-64999                 32936 non-null int64
Citizen Income 65000-74999                 32936 non-null int64
Citizen Income 75000 plus                  32936 non-null int64
Total Population                           32936 non-null int64
One Race Population                        32936 non-null int64
White Race                                 32936 non-null int64
Black Race                                 32936 non-null int64
Native American Race                       32936 non-null int64
Asian Race                                 32936 non-null int64
Pacific Islander Race                      32936 non-null int64
Other Race Alone                           32936 non-null int64
Hispanic or Latino                         32936 non-null int64
Median Age                                 32936 non-null float64
Male Median Age                            32936 non-null float64
Female Median Age                          32936 non-null float64
Total Households                           32936 non-null int64
Average Household Size                     32936 non-null float64
Total Families                             32936 non-null int64
state code                                 32936 non-null int64
zip code                                   32936 non-null int64
dtypes: float64(7), int64(30)
memory usage: 9.3 MB

In [5]:
# building features and re-naming target data Y

df.rename(index=str, columns={"SNAP Per Capita Benefit or TAM": "Y"}, inplace=True)
#df.drop('NAME', axis=1, inplace=True )
#df = df.astype('float32')

df.head()

,Households SNAP,Estimated Individuals SNAP,SNAP percent Population,Y,Total Citizen Educated in US,Citizen Less than High School Education,Citizen High School Graduate,Citizen Some College Education,Citizen College Degree,Citizen Graduate or Professional Degree,...,Other Race Alone,Hispanic or Latino,Median Age,Male Median Age,Female Median Age,Total Households,Average Household Size,Total Families,state code,zip code
0,765,1705.95,0.101732,2564042.85,13358,1167,3779,4397,2397,1618,...,229,16209,45.5,43.0,47.7,7215,2.23,3098,25,1001
1,749,1827.56,0.062913,2746822.68,13787,633,1684,2229,3405,5836,...,1217,26766,24.0,23.6,24.8,9910,2.44,4050,25,1002
2,8,25.60,0.002468,38476.80,136,26,13,68,14,15,...,372,9843,20.2,20.2,20.1,5,3.20,10,25,1003
3,147,383.67,0.075540,576656.01,3498,123,1270,1023,547,535,...,71,4990,41.0,40.0,41.7,1904,2.61,1284,25,1005
4,450,1179.00,0.080483,1772037.00,10062,644,2407,2518,2423,2070,...,260,14264,41.1,40.0,42.0,5595,2.62,3691,25,1007

In [6]:
#find out missing values
names = []
value = []
for col in df.columns:
    names.append(col)
    value.append(df[col].isnull().sum())
    print("number of missing values: ", names[-1], value[-1],"""     """, "Percentage of missing values:", names[-1], round((value[-1]/32936)*100))

number of missing values:  Households SNAP 0       Percentage of missing values: Households SNAP 0.0
number of missing values:  Estimated Individuals SNAP 0       Percentage of missing values: Estimated Individuals SNAP 0.0
number of missing values:  SNAP percent Population 0       Percentage of missing values: SNAP percent Population 0.0
number of missing values:  Y 0       Percentage of missing values: Y 0.0
number of missing values:  Total Citizen Educated in US 0       Percentage of missing values: Total Citizen Educated in US 0.0
number of missing values:  Citizen Less than High School Education 0       Percentage of missing values: Citizen Less than High School Education 0.0
number of missing values:  Citizen High School  Graduate 0       Percentage of missing values: Citizen High School  Graduate 0.0
number of missing values:  Citizen Some College Education 0       Percentage of missing values: Citizen Some College Education 0.0
number of missing values:  Citizen College Degree 0       Percentage of missing values: Citizen College Degree 0.0
number of missing values:  Citizen Graduate or Professional Degree 0       Percentage of missing values: Citizen Graduate or Professional Degree 0.0
number of missing values:  Total Citizen Income 0       Percentage of missing values: Total Citizen Income 0.0
number of missing values:  Citizen No Income 0       Percentage of missing values: Citizen No Income 0.0
number of missing values:  Citizen Income 1-9999 0       Percentage of missing values: Citizen Income 1-9999 0.0
number of missing values:  Citizen Income 10000-14999 0       Percentage of missing values: Citizen Income 10000-14999 0.0
number of missing values:  Citizen Income 15000-24999 0       Percentage of missing values: Citizen Income 15000-24999 0.0
number of missing values:  Citizen Income 25000-34999 0       Percentage of missing values: Citizen Income 25000-34999 0.0
number of missing values:  Citizen Income 35000-49999 0       Percentage of missing values: Citizen Income 35000-49999 0.0
number of missing values:  Citizen Income 50000-64999 0       Percentage of missing values: Citizen Income 50000-64999 0.0
number of missing values:  Citizen Income 65000-74999 0       Percentage of missing values: Citizen Income 65000-74999 0.0
number of missing values:  Citizen Income 75000 plus 0       Percentage of missing values: Citizen Income 75000 plus 0.0
number of missing values:  Total Population 0       Percentage of missing values: Total Population 0.0
number of missing values:  One Race Population 0       Percentage of missing values: One Race Population 0.0
number of missing values:  White Race 0       Percentage of missing values: White Race 0.0
number of missing values:  Black Race 0       Percentage of missing values: Black Race 0.0
number of missing values:  Native American Race 0       Percentage of missing values: Native American Race 0.0
number of missing values:  Asian Race 0       Percentage of missing values: Asian Race 0.0
number of missing values:  Pacific Islander Race 0       Percentage of missing values: Pacific Islander Race 0.0
number of missing values:  Other Race Alone 0       Percentage of missing values: Other Race Alone 0.0
number of missing values:  Hispanic or Latino 0       Percentage of missing values: Hispanic or Latino 0.0
number of missing values:  Median Age 0       Percentage of missing values: Median Age 0.0
number of missing values:  Male Median Age 0       Percentage of missing values: Male Median Age 0.0
number of missing values:  Female Median Age 0       Percentage of missing values: Female Median Age 0.0
number of missing values:  Total Households 0       Percentage of missing values: Total Households 0.0
number of missing values:  Average Household Size 0       Percentage of missing values: Average Household Size 0.0
number of missing values:  Total Families 0       Percentage of missing values: Total Families 0.0
number of missing values:  state code 0       Percentage of missing values: state code 0.0
number of missing values:  zip code 0       Percentage of missing values: zip code 0.0

In [7]:
#split my data
#df = df.astype('float32')
X = df.drop(columns = 'Y')
y = df['Y']

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32936 entries, 0 to 32935
Data columns (total 37 columns):
Households SNAP                            32936 non-null int64
Estimated Individuals SNAP                 32936 non-null float64
SNAP percent Population                    32936 non-null float64
Y                                          32936 non-null float64
Total Citizen Educated in US               32936 non-null int64
Citizen Less than High School Education    32936 non-null int64
Citizen High School  Graduate              32936 non-null int64
Citizen Some College Education             32936 non-null int64
Citizen College Degree                     32936 non-null int64
Citizen Graduate or Professional Degree    32936 non-null int64
Total Citizen Income                       32936 non-null int64
Citizen No Income                          32936 non-null int64
Citizen Income 1-9999                      32936 non-null int64
Citizen Income 10000-14999                 32936 non-null int64
Citizen Income 15000-24999                 32936 non-null int64
Citizen Income 25000-34999                 32936 non-null int64
Citizen Income 35000-49999                 32936 non-null int64
Citizen Income 50000-64999                 32936 non-null int64
Citizen Income 65000-74999                 32936 non-null int64
Citizen Income 75000 plus                  32936 non-null int64
Total Population                           32936 non-null int64
One Race Population                        32936 non-null int64
White Race                                 32936 non-null int64
Black Race                                 32936 non-null int64
Native American Race                       32936 non-null int64
Asian Race                                 32936 non-null int64
Pacific Islander Race                      32936 non-null int64
Other Race Alone                           32936 non-null int64
Hispanic or Latino                         32936 non-null int64
Median Age                                 32936 non-null float64
Male Median Age                            32936 non-null float64
Female Median Age                          32936 non-null float64
Total Households                           32936 non-null int64
Average Household Size                     32936 non-null float64
Total Families                             32936 non-null int64
state code                                 32936 non-null int64
zip code                                   32936 non-null int64
dtypes: float64(7), int64(30)
memory usage: 9.5+ MB

All of these columns should be columns should be numeric, so let's convert it all to numeric

In [8]:
# Target variable characteristics

#df.Y.value_counts().plot(kind='bar')

## Split the data for regressions

In [ ]:
#split my data
X = df.drop(columns = 'Y')
y = df['Y']

In [ ]:
#split into training and testing 75% Train and 25% test

from sklearn.model_selection import train_test_split, KFold, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 2019, test_size = .25)

In [ ]:
#from imblearn.over_sampling import SMOTE

#create my oversampled data to train on

oversampler = SMOTE(random_state = 2019)
X_train_oversampled, y_train_oversampled = oversampler.fit_resample(X_train, y_train)

In [ ]:
#Put the oversampled data back into a dataframe
X_train_oversampled = pd.DataFrame(X_train_oversampled, columns = X_train.columns)
y_train_oversampled = pd.Series(y_train_oversampled)

In [ ]:
# build my classifier
from sklearn.linear_model import LinearRegression, LinearRegressionCV
clf = LogisticRegression()

In [ ]:
# build my classifier
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
clf = LogisticRegression()

In [ ]:
#Fit to the oversampled data; this will train the classifier on the oversampled data
clf.fit(X_train_oversampled, y_train_oversampled)

In [ ]:
#Use 5-fold cross validation to see how well the classfier you built is doing on test data.

kfold = KFold(n_splits=5, random_state=2019)
results = cross_val_score(clf, X_test, y_test, cv=kfold, scoring = 'f1')

print(f"5-fold cross-validation results: {np.mean(results)}")

In [ ]:
#tweak my classifer

clf2 = LogisticRegression(C = .5)

clf2.fit(X_train_oversampled, y_train_oversampled)

results = cross_val_score(clf2, X_test, y_test, cv=kfold, scoring = 'f1')

print(f"5-fold cross-validation results: {np.mean(results)}")

In [ ]:
clf_cv = LogisticRegressionCV(n_jobs = -1)

clf_cv.fit(X_train_oversampled, y_train_oversampled)

results = cross_val_score(clf, X_test, y_test, cv=kfold, scoring = 'f1')

print(f"5-fold cross-validation results: {np.mean(results)}")

In [ ]:
#create histograms for each variable
#we'll group some of the columns together to make plotting easier

df_group1 = df.iloc[:, 0:5]
df_group1.plot(kind='density', subplots=True, layout=(3,2), sharex=False)
plt.show()


#df.hist()

#plt.show()

Some notes: LIMIT_BAL and AGE are approaching a gaussian shape, but both are somewhat rightly skewed. Both sex and Marriage are bimodal (obviously), and Education is trimodal, with the three most common values of 1, 2, 3, and a tiny amount of 4, and 5. Besides LIMIT_BAL, nothing particular about these features. 

Next, we'll look at the Payment history. Since the values in these features are categorical in nature, we'll use bar plots.

In [ ]:
#create group
df_pay_hist = df.iloc[:,5:11]

fig, ax = plt.subplots(figsize = (10,8), sharex=True)


plt.subplot(3,2,1)
df['PAY_0'].value_counts().plot(kind='bar')

plt.subplot(3,2,2)
df['PAY_2'].value_counts().plot(kind='bar')

plt.subplot(3,2,3)
df['PAY_3'].value_counts().plot(kind='bar')

plt.subplot(3,2,4)
df['PAY_4'].value_counts().plot(kind='bar')

plt.subplot(3,2,5)
df['PAY_5'].value_counts().plot(kind='bar')

plt.subplot(3,2,6)
df['PAY_6'].value_counts().plot(kind='bar')

Some notes: all the plots are pretty much the same. Values of 0 are the most common by a large amount, i.e. another instance of some class inbalance. Will have to handle as well. 

Next, look at the Bill amounts.

In [ ]:
df['BILL_AMT1'].plot(kind='hist', )

In [ ]:
#create group
ax, fig = plt.subplots(figsize = (10,8))
bill_amts = df.iloc[:, 11:17]

plt.subplot(3,2,1)
bill_amts['BILL_AMT1'].hist(bins=25)

plt.subplot(3,2,2)
bill_amts['BILL_AMT2'].hist(bins=25)

plt.subplot(3,2,3)
bill_amts['BILL_AMT3'].hist(bins=25)

plt.subplot(3,2,4)
bill_amts['BILL_AMT4'].hist(bins=25)

plt.subplot(3,2,5)
bill_amts['BILL_AMT5'].hist(bins=25)

plt.subplot(3,2,6)
bill_amts['BILL_AMT6'].hist(bins=25)

In [ ]:
# ds1 = pd.Series([PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6])
# ds2 = pd.Series([BILL_AMT1, BILL_AMT2, BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6])
# Outstanding_Bal = ds2 - ds1

# print(Outstanding_Bal)

In [ ]:
# Load libraries

from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [ ]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
X = df.drop(columns="Y")
y = df.Y

In [ ]:
X

In [ ]:
# Split dataset into training set and test set
# 70% training and 30% test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2019)

### Building Decision Tree Model
Let's create a Decision Tree Model using `DecisionTreeClassifier` provided in `Scikit-learn`.

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

### Evaluating Model
Estimate, how accurately the classifier or model can predict the type of cultivars.

Accuracy can be computed by comparing actual test set values (y_test) and predicted values (y_pred).

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
# created new column OUTSTANDING_BAL for each month

df["OUTSTANDING_BAL1"] = (df.BILL_AMT1 - df.PAY_AMT1)
df["OUTSTANDING_BAL2"] = (df.BILL_AMT2 - df.PAY_AMT2)
df["OUTSTANDING_BAL3"] = (df.BILL_AMT3 - df.PAY_AMT3)
df["OUTSTANDING_BAL4"] = (df.BILL_AMT4 - df.PAY_AMT4)
df["OUTSTANDING_BAL5"] = (df.BILL_AMT5 - df.PAY_AMT5)
df["OUTSTANDING_BAL6"] = (df.BILL_AMT6 - df.PAY_AMT6)

df.head(5)

In [ ]:
# created new column %_LIMIT_BAL for each month

df["%_LIMIT_BAL1"] = (df.OUTSTANDING_BAL1 / df.LIMIT_BAL)
df["%_LIMIT_BAL2"] = (df.OUTSTANDING_BAL2 / df.LIMIT_BAL)
df["%_LIMIT_BAL3"] = (df.OUTSTANDING_BAL3 / df.LIMIT_BAL)
df["%_LIMIT_BAL4"] = (df.OUTSTANDING_BAL4 / df.LIMIT_BAL)
df["%_LIMIT_BAL5"] = (df.OUTSTANDING_BAL5 / df.LIMIT_BAL)
df["%_LIMIT_BAL6"] = (df.OUTSTANDING_BAL6 / df.LIMIT_BAL)


df.head(5)

In [ ]:
df.info()

In [ ]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = X.columns, class_names=['0','1']) 
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('credit_card.png')
Image(graph.create_png())

In [ ]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
X = df.drop(columns=["BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", "PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6", "Y"])
y = df.Y

In [ ]:
X.columns

In [ ]:
# Split dataset into training set and test set
# 70% training and 30% test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2019)

### Building Decision Tree Model
Let's create a Decision Tree Model using `DecisionTreeClassifier` provided in `Scikit-learn`.

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

### Evaluating Model
Estimate, how accurately the classifier or model can predict the type of cultivars.

Accuracy can be computed by comparing actual test set values (y_test) and predicted values (y_pred).

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
X = df.drop(columns=['PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'OUTSTANDING_BAL1',
       'OUTSTANDING_BAL2', 'OUTSTANDING_BAL3', 'OUTSTANDING_BAL4',
       'OUTSTANDING_BAL5', 'OUTSTANDING_BAL6', "BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", "PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6", "Y"])
y = df.Y

In [ ]:
X.columns

In [ ]:
# Split dataset into training set and test set
# 70% training and 30% test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2019)

### Building Decision Tree Model
Let's create a Decision Tree Model using `DecisionTreeClassifier` provided in `Scikit-learn`.

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

### Evaluating Model
Estimate, how accurately the classifier or model can predict the type of cultivars.

Accuracy can be computed by comparing actual test set values (y_test) and predicted values (y_pred).

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

## Results
Creating calculated columns for Increasing outstanding balance per month column and Outstanding Bal had no meaningful effect and removing the repayment status, outstanding balance, bill amount lowered the accuracy by about a half percent